src/main/mule/sgst-audit-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
    <apikit:config name="sgst-audit-papi-config" api="sgst-audit-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="cc1442aa-a5dd-4ce8-8207-8f56afa06726" >
		<sftp:connection host="10.86.48.62" username="mule2Spana" password="3Vn13MbC4L4dxMSd" />
	</sftp:config>
	<flow name="sgst-audit-papi-main" doc:id="9887a7d5-f679-4422-8c74-029e71f23140">
        <http:listener config-ref="HTTP_Listener_config" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<set-variable value="#[read(attributes.headers.correlationID,'application/json')]" doc:name="Set Transaction Id" doc:id="3437bec6-fe11-4021-beba-5288015e4e04" variableName="correlationID"/>
		<apikit:router config-ref="sgst-audit-papi-config" />
		<error-handler ref="global-exception-strategy" />
    </flow>
    <flow name="post:\backup:multipart\form-data:sgst-audit-papi-config">
		<json-logger:logger doc:name="Entry Logger" doc:id="823c70e3-3205-4a85-bdfa-8c80309498df" config-ref="JSON_Logger_Config1" message="Backup flow Started" correlationId="#[vars.correlationID]"/>
		<ee:transform doc:name="Retreive Params" doc:id="1c21cd60-afb4-43ab-b848-a21463cb0d11" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/inputQueryParams.dwl" variableName="inputParameters" />
				<ee:set-variable variableName="vZipFile" ><![CDATA[%dw 2.0
output application/java
input payload multipart/form-data
---
payload.parts.'File'.content]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="Logger Before Decopress " doc:id="12418fc0-862b-4df1-a28a-d8e382d780f4" config-ref="JSON_Logger_Config1" message="Start Decompress zip File" correlationId="#[vars.correlationID]"/>
		<try doc:name="Try" doc:id="3a3789b9-ec40-4402-8630-2577c010ee28" >
			<compression:decompress doc:name="Decompress a zip file" doc:id="bf908fe3-d9c9-4876-a94f-3cab4329f7ce">
			<compression:compressed><![CDATA[#[payload.parts..content[0]]]]></compression:compressed>
			<compression:decompressor>
				<compression:zip-decompressor />
			</compression:decompressor>
		</compression:decompress>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5805318d-1cc5-47e2-8088-9f116aca52ea" type="COMPRESSION:*">
					<ee:transform doc:name="Error Case" doc:id="7bb50685-bd3e-46a1-aafc-ddcc717118f9">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
							<ee:set-variable resource="dwl/errorDecompression.dwl" variableName="vErrorMessage" />
					</ee:variables>
				</ee:transform>
					<flow-ref doc:name="Email Notification Flow" doc:id="83cf33aa-8e0e-41b4-ac5c-dc053bb56e3a" name="sgst-audit-papi-email-notification" />
					<set-payload value="#[vars.vErrorMessage]" doc:name="Set Payload" doc:id="04730ed1-4e4f-44f4-bd71-d08a91d56dd4" />
				</on-error-propagate>
			</error-handler>
		</try>
		<json-logger:logger doc:name="Logger After Decopress" doc:id="a7614824-f64f-4299-b1c6-0962764723cb" config-ref="JSON_Logger_Config1" message="End Decompress zip File" correlationId="#[vars.correlationID]" tracePoint="END"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="b86e5617-ed49-4666-8e66-fbd43858b0ff" variableName="vDecompressFile"/>
		<json-logger:logger doc:name="Logger Before SFTP" doc:id="945cb4fc-f337-407a-b382-2f1c1182b319" config-ref="JSON_Logger_Config1" message="Before File Backup to SFTP" correlationId="#[vars.correlationID]"/>
		<try doc:name="Try" doc:id="a6c18772-df8f-4609-b7aa-32182162c25a" >
			<file:write doc:name="Write file in local directory" doc:id="02861db2-984a-442a-a998-f708b8ebaa52" path="#['C:\\test_files\compressed\decompressed-' ++ (now() as String{format:'yyyy-MM-dd-hh-mm-ss'}) ++ '.csv']" />
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f9bea19d-5856-4a52-a029-9b64e450de4d" type="SFTP:*">
					<ee:transform doc:name="Error Case" doc:id="bfe725de-8862-4e90-b95c-dcd1ac26c85e">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
							<ee:set-variable resource="dwl/errorResponse.dwl" variableName="vErrorMessage" />
					</ee:variables>
				</ee:transform>
					<flow-ref doc:name="Email Notification Flow" doc:id="15ff8b79-51bd-4491-b899-4088c885696e" name="sgst-audit-papi-email-notification" />
					<set-payload value="#[vars.vErrorMessage]" doc:name="Set Payload" doc:id="69eb22da-3db0-47c7-91ff-a6f4367d1fda" />
				</on-error-propagate>
			</error-handler>
		</try>
	 <!--  <sftp:write doc:name="Write" doc:id="97d7f028-dda2-42c6-83f8-a4b8bb78d1ac" config-ref="SFTP_Config" path="#['/'++ vars.inputParameters.direction ++ '/' ++ vars.inputParameters.externalSystem ++ '/'  ++ vars.inputParameters.fileType ++ '/' ++ vars.inputParameters.fileName ++ '.'  ++ vars.inputParameters.fileExtension]"/> -->
		<json-logger:logger doc:name="Logger After SFTP" doc:id="c8dfba73-2e92-468d-b9f1-66d74e47453a" config-ref="JSON_Logger_Config1" message="After File Backup to SFTP" correlationId="#[vars.correlationID]" tracePoint="END"/>
		<ee:transform doc:name="Final Response" doc:id="554662b3-5064-4844-b651-92c8189c9f4c">
					<ee:message>
						<ee:set-payload resource="dwl/finalResponse.dwl" />
					</ee:message>
				</ee:transform>
		<json-logger:logger doc:name="Exit Logger" doc:id="2da4608d-8784-4614-aff5-b79013847f69" config-ref="JSON_Logger_Config1" message="Backup flow Ended" correlationId="#[vars.correlationID]" tracePoint="END"/>
    </flow>
	<flow name="sgst-audit-papi-email-notification" doc:id="cc839db0-6e48-4d34-924f-2c154f3bd9ea" >
		<ee:transform doc:name="Set Email Format" doc:id="2119ff9d-2f5a-40e3-9bb5-1daa8eac04fa" >
			<ee:message >
				<ee:set-payload resource="dwl/emailFormat.dwl" />
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Set Email Body" doc:id="ea8cf01a-5745-42b4-a140-2d4be13b1362" >
			<ee:message >
				<ee:set-payload resource="dwl/emailHtmlBody.dwl" />
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/emailAttachment.dwl" variableName="vAttachment" />
			</ee:variables>
		</ee:transform>
		<parse-template doc:name="Parse Template" doc:id="960162e1-25b9-48a2-82d6-fc8a7bea83df" target="errorDetails" outputEncoding="UTF-8" outputMimeType="text/html">
			<content>&lt;html&gt;
  &lt;head&gt;&lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Dear Team,&lt;/p&gt;
    &lt;p&gt;Error Occured while processing the below service.&lt;/p&gt;
    &lt;br /&gt;
  #[payload]  
&lt;br /&gt;&lt;br /&gt;
&lt;p&gt;This is an automated mail, please do not reply.&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Thanks and Regards,&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<json-logger:logger doc:name="Start Email Notification Logger" doc:id="d87bb561-3cf9-43a1-a4bb-30deccff6580" config-ref="JSON_Logger_Config1" message="Before Error Email Notification Sent" correlationId="#[vars.correlationID]"/>
		<email:send doc:name="Send Error Email Notification" doc:id="8e803306-9876-4781-a679-5d419317c6ef" fromAddress="sabeenashaik422@gmail.com" subject="Errorin processing the ++ file name. " config-ref="Email_SMTP">
			<email:to-addresses >
				<email:to-address value="sabeenashaik422@gmail.com" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8" >
				<email:content ><![CDATA[#[vars.errorDetails]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[vars.vAttachment]]]></email:attachments>
		</email:send>
		<json-logger:logger doc:name="End Email Notification Logger" doc:id="b03e3eb8-e99e-4023-bbba-3c9aa2b86253" config-ref="JSON_Logger_Config1" message="After Error Email Notification Sent" correlationId="#[vars.correlationID]" tracePoint="END"/> 
	</flow>
</mule>
