src/main/mule/sgst-audit-email-utility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	
	<flow name="sgst-audit-email-utility-Flow" doc:id="b5722794-2700-4583-a27d-b0365b6b281f" >
		<anypoint-mq:subscriber doc:name="fetch-error-audit-message" doc:id="19d96fe1-c383-4e6d-9a83-1e14460fe14d" config-ref="Anypoint_MQ_Config" destination="${amq.notification.email.publish.path}" acknowledgementMode="IMMEDIATE">
			<reconnect frequency="${reconnection.frequency}" count="${reconnection.attempts}"/>
			<anypoint-mq:subscriber-type >
				<anypoint-mq:prefetch maxLocalMessages="5" />
			</anypoint-mq:subscriber-type>
		</anypoint-mq:subscriber>
		<json-logger:logger doc:name="entry-logger" doc:id="02a2ea7c-8be9-46f8-bc81-0ee532ebd7d6" config-ref="JSON_Logger_Config1" message="Start Email Utility Flow"/>
		<ee:transform doc:name="retrive-params" doc:id="2dc573ae-620e-4707-a868-6b280a22d1ab">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dwl/emailTransactionId.dwl" variableName="TransactionID" />
				<ee:set-variable resource="dwl/emailToAddress.dwl" variableName="toAddresses" />
				<ee:set-variable resource="dwl/emailApiName.dwl" variableName="ServiceName" />
				<ee:set-variable resource="dwl/emailFilePath.dwl" variableName="filePath" />
				<ee:set-variable resource="dwl/emailFileName.dwl" variableName="FileName" />
				<ee:set-variable variableName="inputRequest" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<flow-ref doc:name="flow-ref-sgst-common-email-utility-impl" doc:id="9d685153-b824-4550-a9fa-5bf170adf0ec" name="sgst-audit-email-utility-impl" />
		<json-logger:logger doc:name="exit-logger" doc:id="7b43f7a2-d0dd-4e61-917c-8d469410df0b" config-ref="JSON_Logger_Config1" message="End Email Utility Flow" tracePoint="END"/>
		<error-handler ref="global-exception-strategy" />
	</flow>
	<sub-flow name="sgst-audit-email-utility-impl" doc:id="cf9afea8-b717-4f98-b6d7-9f15085219b6" >
		
		<!-- <sftp:read doc:name="Read" doc:id="a9a70637-c963-46d1-9cd5-30c828bbcaae" config-ref="SFTP_Config" path="\sit">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</sftp:read> -->
		<json-logger:logger doc:name="before-fetching-logger" doc:id="1ae5a32a-9e1d-4493-aafd-e1f69409643b" config-ref="JSON_Logger_Config1" message="#Fetching the #[vars.fileName] from PCS to send alert"/>
<!-- [STUDIO:"Read file in local directory"]		<file:read doc:name="Read file in local directory" doc:id="26741e87-a214-40cb-a96f-bb41c2e3a60a" config-ref="File_Config" path="#[vars.filePath as String ++ '\\' ++ vars.FileName as String]" target="fileInput"/> [STUDIO] -->
		<sftp:read doc:name="read-file-from-pcs" doc:id="3d07d95a-2585-4bba-b09d-fc19f646763e" config-ref="SFTP_Config" path="#[vars.filePath]" target="fileInput"/>
		<json-logger:logger doc:name="after-fetching-logger" doc:id="b995cde0-5a77-4bf5-936d-9ad3d8c0c6f0" config-ref="JSON_Logger_Config1" message="File fetched from PCS successfully"/>
		<ee:transform doc:name="generate-email-body" doc:id="a18ed673-c895-4a97-85e3-7c58e76f4f19" >
			<ee:message >
				<ee:set-payload resource="dwl/emailHtmlBody.dwl" />
			</ee:message>
		</ee:transform>
		<parse-template doc:name="parse-email-body-content" doc:id="b0cf013c-4168-4299-a9f2-f14fff3d0e04" target="errorDetails" outputEncoding="UTF-8" outputMimeType="text/html">
			<content>&lt;html&gt;
  &lt;head&gt;&lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Dear Team,&lt;/p&gt;
    &lt;p&gt;Error Occured while processing the below transaction. Please find attached the file being processed.&lt;/p&gt;
    &lt;br /&gt;
  #[payload]  
&lt;br /&gt;&lt;br /&gt;
&lt;p&gt;This is an automated mail, please do not reply.&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Thanks and Regards,&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<json-logger:logger doc:name="start-email-notification-logger" doc:id="274b18cd-2d20-4484-a5cd-ce09c430671b" config-ref="JSON_Logger_Config1" message="Before Error Email Notification Sent"/>
		<email:send doc:name="send-error-email-notification" doc:id="17ff6a0f-8b12-43af-badf-f31f7c977e1e" fromAddress="sabeenashaik422@gmail.com" subject='#["Error in Gateway -" ++ vars.ServiceName]' config-ref="Email_SMTP" toAddresses="#[vars.toAddresses]">
			<email:body contentType="text/html" encoding="UTF-8" >
				<email:content ><![CDATA[#[vars.errorDetails]]]></email:content>
			</email:body>
			<email:attachments ><![CDATA[#[{
	(vars.FileName): vars.fileInput
}]]]></email:attachments>
		</email:send>
		<json-logger:logger doc:name="end-email-notification-logger" doc:id="d0bd3172-079f-4f14-9c2a-d5d0c34e5e61" config-ref="JSON_Logger_Config1" message="After Error Email Notification Sent"/> 
	</sub-flow>
</mule>
