src/main/mule/sgst-audit-email-utility.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	
	<flow name="sgst-audit-email-utility-Flow" doc:id="694ad10b-f9b3-4122-8cdb-9941ff0815da" >
	<anypoint-mq:subscriber doc:name="fetch-error-audit-message" doc:id="46a46c27-a43d-48d0-8da8-7923009a9723" config-ref="Anypoint_MQ_Config" destination="${amq.notification.email.publish.path}">
			<reconnect frequency="${reconnection.frequency}" count="${reconnection.attempts}" />
		</anypoint-mq:subscriber>
		<flow-ref doc:name="flow-ref-sgst-common-email-utility-impl" doc:id="cd7753a1-0c10-4e93-a89f-a9450183c707" name="sgst-audit-email-utilityFlow" />
		<error-handler ref="global-exception-strategy" />
	</flow> 
	<flow name="sgst-audit-email-utilityFlow" doc:id="58523141-31be-46b0-b2ab-634052a8e4c4" tracking:enable-default-events="true">
		<ee:transform doc:name="retrive-params" doc:id="de3ead63-cfd2-47f3-b468-2db25ef934fc">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="inputRequest"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="correlationID" ><![CDATA[payload.correlationID]]></ee:set-variable>
			

</ee:variables>
		</ee:transform>
		<json-logger:logger doc:name="entry-logger" doc:id="00b7a81b-4833-4308-8802-1c53fbd2fc28" config-ref="JSON_Logger_Config1" message='API START:INIT : Received API request.' correlationId="#[vars.correlationID]">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger>
		<!-- <choice doc:name="Choice" doc:id="8b6e2b74-8bc2-44f8-9ef5-3e9b159ae35a" >
			<when expression='#[vars.inputRequest.filePath == "NA"]'> -->
				<flow-ref doc:name="flow-ref-email-notification" doc:id="b78d1413-9714-4d66-83c3-328a6d537380" name="sgst-audit-email-utility-send-email-sub-flow"/>
			<!-- </when>
			<otherwise >
				<flow-ref doc:name="flow-ref-sgst-common-email-utility-impl" doc:id="3c33a923-8fb9-4874-a5c3-6ba88e10cb35" name="sgst-audit-email-utility-fetch-file-pcs-sub-flow" />
				<flow-ref doc:name="Flow Reference" doc:id="acb5de87-60e9-4714-92f4-745d6e5867ba" name="sgst-audit-email-utility-send-email-sub-flow"/>
			</otherwise>
		</choice> -->
		<ee:transform doc:name="final response" doc:id="f0be6e5c-a3bc-4fb9-9a9a-8511dbce5b27" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"statusCode": 200,
	"statusMessage": "Email Notification sent successfully",
	"transactionID": vars.inputRequest.correlationID
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="exit-logger" doc:id="9251d129-dec2-4275-818a-1908c4b1b76f" config-ref="JSON_Logger_Config1" message='API END:COMPLETE : End API request.' tracePoint="END" correlationId="#[vars.correlationID]">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger>
		<error-handler ref="global-exception-strategy" />
	</flow>
	<sub-flow name="sgst-audit-email-utility-fetch-file-pcs-sub-flow" doc:id="9703f962-f6d0-4c9c-97ce-7020f9998e01" >
		
		<!-- <sftp:read doc:name="Read" doc:id="231048df-f948-4790-b8bb-ebcf92ec0482" config-ref="SFTP_Config" path="\sit">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</sftp:read> -->
		<json-logger:logger doc:name="before-fetching-logger" doc:id="2d937c38-e3c6-4035-a08a-97ab9c66f080" config-ref="JSON_Logger_Config1" message="PROCESS:INIT - File fetched initiated.">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger>
		 <sftp:read doc:name="read-file-from-pcs" doc:id="82962efc-c50a-48e7-a7de-24b0aaffb4b8" config-ref="SFTP_Config" path="#[vars.inputRequest.filePath]" target="fileInput"/> 
		<json-logger:logger doc:name="after-fetching-logger" doc:id="4ec4375e-f2c7-468f-a611-0cb7b929c840" config-ref="JSON_Logger_Config1" message='PROCESS:SUCCESS - Fetched files successfully.' tracePoint="AFTER_REQUEST" correlationId="#[vars.correlationID]">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger> 
	</sub-flow>
	<sub-flow name="sgst-audit-email-utility-send-email-sub-flow" doc:id="34de043e-5260-44f9-8d9d-39e824daebd0" >
		<ee:transform doc:name="create email content" doc:id="562f5fd3-5e69-4305-a607-69d5dbe69984">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dwl/emailBodyContent.dwl" variableName="emailBodyContent" />
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="generate-email-body" doc:id="46b0dd5b-54a7-42d2-bd83-b6b63056f920">
			<ee:message>
				<ee:set-payload resource="dwl/emailHtmlBody.dwl" />
			</ee:message>
		</ee:transform>
		<!-- <parse-template doc:name="parse-email-body-content-with-file" doc:id="cdb9a462-01fa-4df6-b9a6-47e80bcb12c5" target="emailBodyWithAttachment" outputEncoding="UTF-8" outputMimeType="text/html">
			<content>&lt;html&gt;
  &lt;head&gt;&lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Dear Team,&lt;/p&gt;
    &lt;p&gt;Error occurred while processing the EDI transaction. Please find the details below and attached is the file associated to the transaction&lt;/p&gt;
    &lt;br /&gt;
  #[payload]  
&lt;br /&gt;&lt;br /&gt;
&lt;p&gt;This is an automated mail, please do not reply.&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Thanks and Regards,&lt;/p&gt;
&lt;p&gt;APAC Support, Panasonic&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template> -->
		<parse-template doc:name="parse-email-body-content-with-out-file" doc:id="663b652b-c073-45af-b7e5-0b96392eb5d0" target="emailBodyWithOutAttachment">
			<content >&lt;html&gt;
  &lt;head&gt;&lt;/head&gt;
  &lt;body&gt;
    &lt;p&gt;Dear Team,&lt;/p&gt;
    &lt;p&gt;Error occurred while processing the EDI transaction. Please find the details below and attached is the file associated to the transaction.&lt;/p&gt;
    &lt;br /&gt;
  #[payload]  
&lt;br /&gt;&lt;br /&gt;
&lt;p&gt;This is an automated mail, please do not reply.&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Thanks and Regards,&lt;/p&gt;
&lt;p&gt;APAC Support, Panasonic&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<json-logger:logger doc:name="start-email-notification-logger" doc:id="3a5a3c5e-4fe9-43f2-bb2b-4ee118a960df" config-ref="JSON_Logger_Config1" message="PROCESS:INIT - Email notification initiated.">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger>
		<email:send doc:name="send-error-email-notification" doc:id="f27ab225-eef7-414c-8a39-f841ac62981a" fromAddress="${emailSMTP.fromAddress}" subject="#[&quot;Error:&quot; ++ (vars.inputRequest.subsidiary as String default '') ++ &quot; &quot; ++ vars.inputRequest.source ++ &quot; &quot;++ vars.inputRequest.target ++ &quot; &quot; ++ vars.inputRequest.resource ++ &quot; &quot; ++ upper(Mule::p('mule.env'))]" config-ref="Email_SMTP" toAddresses="#[vars.inputRequest.toAddress]">
			<email:body contentType="text/html" encoding="UTF-8">
				<email:content><![CDATA[#[//if (vars.inputRequest.path == "") 
vars.emailBodyWithOutAttachment
//else
//vars.emailBodyWithAttachment]]]></email:content>
			</email:body>
		</email:send>
		<json-logger:logger doc:name="end-email-notification-logger" doc:id="0266416a-2832-4eee-a7ae-f92fadddf81e" config-ref="JSON_Logger_Config1" message='PROCESS:SUCCESS - Email notification sent success.' tracePoint="AFTER_REQUEST" correlationId="#[vars.correlationID]">
			<json-logger:content ><![CDATA[#[import modules::JSONLoggerModule output application/json ---
{
    payload: JSONLoggerModule::stringifyNonJSON(vars.inputRequest) 
}]]]></json-logger:content>
		</json-logger:logger>
	</sub-flow>

</mule>
